// Mixin for breakpoint
$mobile-breakpoint: 960px;
@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: $mobile-breakpoint + 1px) {
			@content;
		}
	}
	@else if $point == mobile {
		@media (max-width: $mobile-breakpoint) {
			@content;
		}
	}
}

// Debug border
@mixin debug {
	border: 1px solid red;
}

// Typography settings
$inter: "Inter", sans-serif;
$jetbrains: "JetBrains Mono", monospace;

@mixin body-text-desktop {
	font-family: $inter;
	font-style: normal;
	font-weight: normal;
	font-size: 1.6rem;
	line-height: 1.9rem;
	color: $secondary-color;
}

@mixin header-text-desktop {
	font-family: $inter;
	font-style: normal;
	font-weight: normal;
	font-size: 3rem;
	line-height: 4rem;
	color: $secondary-color;
}

@mixin subheader-text-desktop {
	font-family: $jetbrains;
	font-style: normal;
	font-weight: 500; // this is strange...
	font-style: 1.2rem;
	line-height: 1.6rem;
	text-transform: uppercase;
}

// Colors
$primary-color:    black;
$secondary-color:  white;
$accent-color:     #00B4FF;
$bg-color:         #0F0F0F;
$section-bg-color: #5E5340;

// Site spacing
$thin-gap: 10px; // random value for now
$site-margin-mobile: 1%; // random value for now, must be in %

// Animation
$transition-unit: 150ms;

// Grid settings (except margin)
$grid-gap: 1%;
$grid-col: 6;

@for $i from 1 through 6 {
	.w#{$i} {
		// this sets the width of the element
		padding: 0; // code to remove the margins
		margin-right: $grid-gap;
		margin-bottom: $thin-gap;
		float: left;
		@include breakpoint(mobile) {
			width: 100% - $site-margin-mobile * 2;
			margin-left: $site-margin-mobile;
		}
		@include breakpoint(desktop) {
			width: ( ( 100% - ( $grid-col - 1 ) * $grid-gap ) / $grid-col ) * $i + $grid-gap * ( $i - 1 );
		}
	}
	.c#{$i} {
		// this sets the width of the centered element
		display: block;
		margin-left: auto;
		margin-right: auto;
		clear: both;
		float: none;
		@include breakpoint(mobile) {
			width: 100%;
		}
		@include breakpoint(desktop) {
			width: ( ( 100% - ( $grid-col - 1 ) * $grid-gap ) / $grid-col ) * $i + $grid-gap * ( $i - 1 );
		}
	}
	.p#{$i} {
		// this pushes the element to the right by adding a left margin
		@include breakpoint(mobile) {
			margin-left: 0px;
		}
		@include breakpoint(desktop) {
			margin-left: ( ( 100% - ( $grid-col - 1 ) * $grid-gap ) / $grid-col ) * $i + $grid-gap * $i;
		}
	}
	.f#{$i} {
		// this fills the space to the right of the element, to make the next element in the next grid row
		@include breakpoint(mobile) {
			margin-right: 0px;
		}
		@include breakpoint(desktop) {
			margin-right: ( ( 100% - ( $grid-col - 1 ) * $grid-gap ) / $grid-col ) * $i + $grid-gap * $i;
		}
	}
}

*, *:before, *:after {
	// General purpose and content section tags
	// remove the funny box model out of the box
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	background: $primary-color;
	color: $secondary-color;
	font-size: 10px;
	overflow-y: scroll; // to force scrollbar on all pages
}

body {
	margin: 0px;
}

a {
	text-decoration: none;
}

h1 {
	@include breakpoint(desktop) {
		margin-top: 0px;
		@include header-text-desktop;
	}
}

p {
	@include breakpoint(desktop) {
		@include body-text-desktop;
	}
}

ul {
	list-style-type: none;
	padding-left: 0px;
	@include subheader-text-desktop;
}

footer {
	background: $section-bg-color;
	display: flex;
	flex-direction: column;
	padding: 6rem 8rem;
}

.above-the-fold {
	display: flex;
	align-items: end;
	background-image: linear-gradient(to bottom, rgba(15, 15, 15, 0.2), rgba(15, 15, 15, 1.0)), url('../../data/img/alias/heatspreader-half.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.site-landing-description {
	@extend .c4;
	padding-top: 8rem;
	padding-bottom: 8rem;
	bottom: 0px;
}

.featured-work {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 6rem;
	padding-bottom: 6rem;
	h1 {
		@extend .c4;
		text-align: center;
	}
	img {
		@extend .c4;
		box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
	}
	p {
		@extend .c2;
		text-align: center;
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
}

.alias-feature {
	background-color: #392128;
}
.dynamo-feature {
	background-color: #725D59;
}

.big-fucking-button {
	@include breakpoint(desktop) {
		padding: 1.3rem 1.6rem;
		background-color: transparent;
		border: 1px solid $secondary-color;
		color: $secondary-color;
		border-radius: 0.4rem;
		transition: 300ms;
		@include body-text-desktop;
		&:hover {
			background-color: $secondary-color;
			color: $primary-color;
			transition: 150ms;
		}
	}
}

.projects-container {
	padding: 8rem;
	display: flex;
	justify-content: space-evenly;
}

.project-card {
	display: inline-block;
	position: relative;
	width: 413px;
	border-radius: 1.4rem;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
	}
	.text-container {
		display: block;
		position: absolute;
		width: 100%;
		bottom: 0px;
		background: rgba(1,1,1,0.2);
		backdrop-filter: blur(12px);
		padding: 1.6rem;
		h2 {
			@include subheader-text-desktop;
			color: $secondary-color;
			margin: 0rem 0rem 0.5rem 0rem;
		}
		p {
			@include body-text-desktop;
			color: $secondary-color;
			margin: 0.5rem 0rem 0rem 0rem;
		}
	}
}