$font-family: "NBAkademieLight", sans-serif;
@font-face {
	font-family: "NBAkademieLight";
	src: url("../../data/fonts/webfont.woff2") format("woff2"),
		 url("../../data/fonts/webfont.woff")  format("woff");
}

$main-color: white;
$accent-color: invert($main-color);
$highlight-color: red;

$site-margin:      2.5%;
$site-size:        2.5rem;
$line-height:      1.2 * $site-size;
$site-padding-top: 4.0 * $site-size;
$grid-gap:         2%;
$grid-col:         6;

$mobile-breakpoint: 500px;

@mixin border { border-bottom: 1px solid $highlight-color; }

@for $i from 1 through 6 {
	.w#{$i} {
		// code to remove the margins
		padding: 0;
		margin-right: $grid-gap;
		margin-bottom: 0.1rem;
		float: left;
		@media only screen and (max-width: $mobile-breakpoint) {
			width: 100%;
		}
		@media only screen and (min-width: $mobile-breakpoint + 1px) {
			width: ( ( 100% - ( $grid-col - 1 ) * $grid-gap ) / $grid-col ) * $i + $grid-gap * ( $i - 1 );
		}
	}
	.c#{$i} {
		display: block;
		margin-left: auto;
		margin-right: auto;
		clear: both;
		float: none;
		@media only screen and (max-width: $mobile-breakpoint) {
			width: 100%;
		}
		@media only screen and (min-width: $mobile-breakpoint + 1px) {
			// centered grid widths
			width: ( ( 100% - ( $grid-col - 1 ) * $grid-gap ) / $grid-col ) * $i + $grid-gap * ( $i - 1 );
		}
	}
	.p#{$i} {
		@media only screen and (max-width: $mobile-breakpoint) {
			margin-left: 0px;
		}
		@media only screen and (min-width: $mobile-breakpoint + 1px) {
			// push content by standard grid widths
			margin-left: ( ( 100% - ( $grid-col - 1 ) * $grid-gap ) / $grid-col ) * $i + $grid-gap * $i;
		}
	}
}

*, *:before, *:after {
	// remove the funny box model out of the box
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	background: $main-color;
	font-size: 10px;

	// to force scrollbar on all pages
	overflow-y: scroll;
	margin-bottom: $site-padding-top + $site-size*2;
}

body {
	font-family: $font-family;
	font-size: $site-size;
	margin-left: $site-margin;
	margin-right: $site-margin;
	padding-top: $site-padding-top + $site-size*2;
}

nav, footer {
	display: block;
	position: fixed;
	background: transparent;
	width: 100% - $site-margin * 2;
	z-index: 9;
	transition: 300ms background;
	transition-timing-function: ease-in-out;
}

nav {
	top: 0;
	height: $site-padding-top;
	padding-top: $site-size;
	a {
		margin-right: $line-height;
		color: $accent-color;
		&:hover {
			color: invert($main-color);
			border: none;
		}
	}
}

footer {
	height: $site-padding-top;
	padding-top: $site-size;
	bottom: 0;
	padding-bottom: 0;
	a {
		color: $accent-color;
		&:hover {
			color: invert($main-color);
			border: none;
		}
	}
}

img, video {
	margin-bottom: 0.1rem !important;
	float: left;
}

video {
	outline: none;
}

a {
	color: $highlight-color;
	text-decoration: none;
	img {
		width: 100%;
	}
}

p, h1 {
	margin: 0;
	font-size: $site-size;
	font-family: $font-family;
	font-weight: normal;
	line-height: $line-height;
	display: block;
	margin-bottom: $line-height * 1;
	color: $accent-color;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	line-height: $line-height;
	color: $accent-color;
	&:after {
		content: "—";
		display: block;
		margin-bottom: $line-height;
	}
}

ol {
	padding-left: 0;
	color: $accent-color;
}

.tall   { min-height: $line-height * 20; }
.medium { min-height: $line-height * 10; }
.short  { min-height: $line-height *  5; }

.missing {
	color: lighten($accent-color, 60%);
	cursor: not-allowed;
}

.no-rm {
	// remove the last right margin to make row add to 100%
	margin-right: 0;
}
.mb {
	margin-bottom: $line-height;
}

.project-title {
	@extend .w2;
	@extend .medium;
	&:after {
		display: block;
		height: 3px * 3 + 1;
		width:  3px * 40 + 1;
		background-image: url("../../data/img/general/bg-pattern.png");
		background-repeat: repeat;
		content: "";
	}
}
.project-description {
	@extend .w3;
	@extend .medium;
	margin-bottom: $line-height * 4;
}