@font-face {
	font-family: "Inter";
	src: url("../../data/fonts/Inter-Regular.woff2") format("woff2"), url("../../data/fonts/Inter-Regular.woff") format("woff");
}
@font-face {
	font-family: "Exetegue Bold";
	src: url("../../data/fonts/Exetegue-Bold.woff") format("woff");
}

$body-font: "Inter", sans-serif;
$header-font: "Exetegue Bold";

// Colors
$primary-color:    #000000;
$secondary-color:  invert($primary-color);
$link-color:       #7C7C7C;
$link-hover-color: #00B4FF;
$missing-color:    #383838;

// Breakpoint
$mobile-breakpoint: 960px;

// Site spacing


// Animation
$transition-unit:         150ms;
$timing-function:         cubic-bezier(.86,0,.07,1);

// Grid settings (except margin)
$grid-gap:                2%;
$grid-col:                6;

@for $i from 1 through 6 {
	.w#{$i} {
		// this sets the width of the element
		padding: 0; // code to remove the margins
		margin-right: $grid-gap;
		margin-bottom: $thin-gap;
		float: left;
		@media only screen and (max-width: $mobile-breakpoint) {
			width: 100% - $site-margin-mobile * 2;
			margin-left: $site-margin-mobile;
		}
		@media only screen and (min-width: $mobile-breakpoint + 1px) {
			width: ( ( 100% - ( $grid-col - 1 ) * $grid-gap ) / $grid-col ) * $i + $grid-gap * ( $i - 1 );
		}
	}
	.c#{$i} {
		// this sets the width of the centered element
		display: block;
		margin-left: auto;
		margin-right: auto;
		clear: both;
		float: none;
		@media only screen and (max-width: $mobile-breakpoint) {
			width: 100%;
		}
		@media only screen and (min-width: $mobile-breakpoint + 1px) {
			width: ( ( 100% - ( $grid-col - 1 ) * $grid-gap ) / $grid-col ) * $i + $grid-gap * ( $i - 1 );
		}
	}
	.p#{$i} {
		// this pushes the element to the right by adding a left margin
		@media only screen and (max-width: $mobile-breakpoint) {
			margin-left: 0px;
		}
		@media only screen and (min-width: $mobile-breakpoint + 1px) {
			margin-left: ( ( 100% - ( $grid-col - 1 ) * $grid-gap ) / $grid-col ) * $i + $grid-gap * $i;
		}
	}
	.f#{$i} {
		// this fills the space to the right of the element, to make the next element in the next grid row
		@media only screen and (max-width: $mobile-breakpoint) {
			margin-right: 0px;
		}
		@media only screen and (min-width: $mobile-breakpoint + 1px) {
			margin-right: ( ( 100% - ( $grid-col - 1 ) * $grid-gap ) / $grid-col ) * $i + $grid-gap * $i;
		}
	}
}

*, *:before, *:after {
	// General purpose and content section tags
	// remove the funny box model out of the box
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	// background: $primary-color;
	font-size: 10px;
	overflow-y: scroll; // to force scrollbar on all pages
	@media only screen and (max-width: $mobile-breakpoint) {
		
	}
	@media only screen and (min-width: $mobile-breakpoint + 1px) {
		
	}
}

body {
	@media only screen and (max-width: $mobile-breakpoint) {
		
	}
	@media only screen and (min-width: $mobile-breakpoint + 1px) {
		
	}
}

// Rich media content
img, video {
	// float: left;
	&:last-child {
		// margin-bottom: 0;
	}
}

video {
	outline: none;
}